<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <!--It is necessary to use the UTF-8 encoding with plotly graphics to get e.g. negative signs to render correctly -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <style>
        section {
            display: flex;
            flex-wrap: wrap;
        }

        .container {
            flex-basis: auto;
        }
    </style>
</head>


<body>
    <h1> Project Name: {{ project_name }} </h1>

    <section>
        {% for item in cases %}
        <div class="container">
            {{ item.fig }}
        </div>
        {% endfor %}
    </section>


</body>

</html>