<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <!--It is necessary to use the UTF-8 encoding with plotly graphics to get e.g. negative signs to render correctly -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<body>
    <h1> Case Name: {{ case_name }} </h1>

        <h1>Base Plot </h1>
        {{ base_plot }}


        <h1>Airflow Network Data </h1>
        {% for item in afn_data_vars %}
            {{ item }}
        {% endfor %}


        <h1> 2D Surface Data </h1>
        {% for item in surface_data_2D_vars %}
            {{ item }}
        {% endfor %}


        <h1>Surface Data </h1>
        {% for item in surface_data_vars %}
            {{ item }}
        {% endfor %}

        <h1>Site Data </h1>
        {% for item in site_data_vars %}
            {{ item }}
        {% endfor %}
</body>

</html>