**/weather_data
cases/** 
# !cases/
# !cases/graphbem_cali/
# !cases/graphbem_cali/**/
# !cases/graphbem_cali/**/eplusout.sql
# !cases/graphbem_cali/**/out.idf
# !cases/graphbem_cali/**/surface_data.csv

*.html


*.pickle
*.pkl


# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.pyc
.log
