**/weather_data
cases/** 
# !cases/
# !cases/graphbem_cali/
# !cases/graphbem_cali/**/
# !cases/graphbem_cali/**/eplusout.sql
# !cases/graphbem_cali/**/out.idf
# !cases/graphbem_cali/**/surface_data.csv
static/_03_models/** 
!static/_03_models/
!static/_03_models/**/eplusout.sql
!static/_03_models/**/out.idf


*.html


*.pickle
*.pkl



# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.pyc
.log
*.env
.env
